node_modules/
**/node_modules/
dist/
**/dist/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
instance/
.git/
.gitignore
.env
.env.*
Blockchain/artifacts/
Blockchain/cache/
Backend/agrochain.db
Backend/instance/
Frontend/node_modules/
Frontend/dist/
